body{
    background-color: grey;
    font: normal 15pt Arial;
}
h1{
    color: white;
    text-align: center;
    font-size: 3rem;
}
section{
    padding: 15px;
    background-color: white;
    height: 400px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.438);
    border-radius: 10px;
    width: 500px;
    margin: auto;
}
p{
    text-align: center;
    font-size: 30px;
}
footer{
    color: white;
    font-size: 2rem;
    text-align: center;
    font-style: italic;
}
img{
    height: 300px;
}
div{
    text-align: center;
}